ANTHROPIC_API_KEY=
APP_USERS=[{"username":"moises","password":"CAMBIAME","unlimited":true},{"username":"amigo1","password":"CAMBIAME1","limit":2},{"username":"amigo2","password":"CAMBIAME2","limit":2}]
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
